*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(162, 226, 162);
    display: flex;
    align-items: center;
    justify-content: center;
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 90%;
    background-color: aliceblue;
    border-radius: 5px;
}
#ptop{
    padding: 10px 25%;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(37, 73, 2);
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}
.elem h2{
    font-weight: 500;
    font-size: 20px;
}
.box{
    color: black;
    font-weight: 600;
    padding: 8px 14px;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
}
#pbtm{
    width: 100%;
    height: calc(100% - 70px);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.bubble{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: green;
    display: grid;
    place-content: center;
    font-weight: 600;
    transition: all 0.2s linear;
}
.bubble:hover{
    cursor: pointer;
    background-color: #E1AD01;
}